* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #CC5A71;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
h1{
    font-size: 3rem;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #4C1C00;
    background-color: #FFFCF7;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3)
}

#reset {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #3B5249;
    color: white;
    border: none;
    border-radius: 1rem;
}

#new {
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #3B5249;
    color: white;
    border: none;
    border-radius: 1rem;
}
#msg{
    color:#FFFCF7;
    font-size: 8vmin;
}
.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:4rem;
    flex-direction: column;
}
.hide{
    display: none;
}